@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:wght@600&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&family=Poppins:ital,wght@0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* body {
    background-color: rgb(17, 17, 17);
    background-color: rgb(97, 98, 98);
} */


nav {
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 6;

}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}

nav ul li {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;

}

nav ul li.lis:hover {
    box-shadow: 0 0 20px 0px rgba(115, 114, 114, 0.875);
    transition: 0.5s;
    border-radius: 50%;
    cursor: pointer;
}

.brand img {
    border-radius: 50%;
    padding: 0px 10px;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: lightgreen;
}


/* --------------- adding css in main ---------------> */

main {
    height: 490px;
    background-color: rgb(32, 31, 31);
}

.container {
    display: flex;
}

main .title {
    position: absolute;
    color: white;
    left: 4%;
    top: 19%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 140%;


}

.container-1 {
    width: 30%;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(to top, black, red);
    color: white;
    margin-top: 120px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-1 h2 {
    margin-top: 30px;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.container-2 {
    width: 15%;
    margin-left: 20px;
    height: 300px;
    border-radius: 10px;
    margin-top: 120px;
    background: linear-gradient(to top, black, rgb(83, 82, 82));
    color: white;

}

.container-2:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(115, 114, 114, 0.875);
}

.container-2 img {
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.tit-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tit-2 {
    font-size: 130%;
    padding-left: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container-2 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 19px;
    font-size: 90%;
}

/* ------------- adding css in bottom --------------> */

.bottom {
    position: sticky;
    bottom: 0;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.icons {
    margin: 10px 0px;
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songInfo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    padding: 0px 48px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.3s ease-in;
    padding: 0px 20px;
}




/* ------------- ADDING MEDIS TO HEADER -----------------> */


@media screen and (max-width:410px) {

    /* body{
        background-color: yellow;
    } */
    nav {
        flex-direction: column;
        height: auto;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav ul li {
        padding: 10px 0px;
    }



    /* ---------------- adding css in main -------------> */


    main {
        height: 850px;
    }

    main .title {
        position: absolute;
        top: 32%;
        left: 35%;

    }

    .container {
        display: flex;
        flex-direction: column;

    }

    .container-1 {
        width: 65%;
        height: 235px;
        margin-left: 65px;
    }

    .container-2 {
        width: 50%;
        margin-left: 97px;
        margin-top: 25px;
    }

    .tit-1 {
        margin-top: 95px;
    }




    /* -------- adding CSS in bottom-------->     */

    .bottom {
        height: 140px;
    }

    .icons {
        margin-top: 50px;
        font-size: 12px;
    }

    .icons i {
        padding: 0px 6px;
    }

    .songInfo {
        margin-bottom: 20px;
        left: -20px;
    }

    #myProgressBar {
        height: 3px;
        margin-bottom: 10px;
    }

    .songInfo img {
        border-radius: 50%;
    }